.body-class {
  background-color: #606c5d;
}

.main-heading {
  color: #fff4f4;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  font-family: "Brush Script MT", cursive;
  font-size: 8rem;
}

.text-and-image {
  text-align: center;
}

.dice-image {
  width: 13rem;
  height: 13rem;
  margin: 2rem;
}

.person-text {
  font-family: "Brush Script MT", cursive;
  font-size: 3rem;
  color: #f1c376;
}

.final-footer {
  position: fixed;
  padding: 40px 10px;
  padding-bottom: 60px;
  bottom: 0rem;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
}

.footer-text {
  text-align: center;
  color: white;
}
